{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6 mx-auto mb-3">
                <h2>About</h2>
                <hr />
                <p>
                    At Movies Store, we offer a vast digital library spanning across all genres,
                    with something for every movie lover. BLah blah blah blah
                    blah blah
                    blah
                </p>
                <p>
                    Discover the convenience of our digital platform
                    where you have the flexibility to watch movies
                    on your preferred device. Blah blabh blah blah
                    blah blah
                </p>
            </div>
            <div class="col-md-6 mx-auto mb-3 text-center">
                <img src="{% static 'img/about.jpg' %}"
                     class="max-width-100"
                     alt="about" />
            </div>
        </div>
    </div>
</div>
{% endblock content %}