{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class = "p-3">
    <div class = "container">
        <div class = "row mt-3">
            <div class = "col-md-6 mx-auto mb-3">
                <h2>About</h2>
                <hr />
                <p>
                    (Add about section)
                </p>
                <p>
                    (Add desc. section>
                </p>
            </div>
            <div class = "col-md-6 mx-auto mb-3 text-center">
                <img src = "{% static 'img/about.jpg' %}" class = "max-width-100" alt = "about" />
            </div>
        </div>
    </div>
</div>
{% endblock content %}
